@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", monospace;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #333;
}

#main {
  width: 67%;
  min-width: 320px;
  display: grid;
  grid-template-rows: 1fr 4.7fr;
  grid-template-columns: 1fr 3.7fr;
}

nav {
  background-color: #3190d1;
  grid-area: 1 / 1 / 3 / 2;
  min-width: 220px;
  padding-top: 4%;
}

.nav-section {
  margin: 40px 0;
}

.nav-button,
.nav-header {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px 10px 10px 10%;
  text-decoration: none;
}

.nav-button:hover,
#nav-section > button:hover {
  transition: all 0.2s ease-in-out;
  background-color: hsl(204, 63%, 40%);
}

.nav-button:active,
#nav-section > button:active {
  transition: all 0.1s ease-in-out;
  background-color: hsl(204, 63%, 70%);
}

.nav-button > img,
.nav-header > img {
  filter: invert(100%);
  margin-right: 20px;
}

.nav-header > img {
  margin-right: 10px;
}

.nav-header > h1 {
  font-size: 1.6rem;
}

.nav-button > h2 {
  font-size: 1.2rem;
}

header {
  background-color: #fff;
  box-shadow: 0 0 7px -2px gray;
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1.7fr 1fr;
}

header > div {
  display: flex;
  align-items: center;
  padding: 0 40px;
}

#search-section {
  justify-content: start;
}

#control-section {
  justify-content: end;
}

#display-section {
  justify-content: start;
}

#nav-section {
  justify-content: space-evenly;
  padding-left: 0;
}

#nav-section > button {
  all: unset;
  background-color: #3190d1;
  color: #fff;
  width: 50px;
  margin: 0 5px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 20px;
  font-size: 0.9rem;
  cursor: pointer;
}

header > div > img {
  cursor: pointer;
  margin-right: 15px;
}

header > div > h2 {
  font-size: 1rem;
}

header > div > div > p {
  font-weight: bold;
  font-size: 0.8rem;
}

header > div > div > h1 {
  font-size: 1.5rem;
  margin: 5px 0 5px 0;
}

#control-section > img {
  margin-left: 10px;
}

#notification-bell {
  border-radius: 100%;
}

#notification-bell:hover,
.aside-content-2 > div:hover {
  transition: all 0.2s ease-in-out;
  background-color: hsl(0, 0%, 80%);
}

#notification-bell:active,
.aside-content-2 > div:active {
  transition: all 0.1s ease-in-out;
  background-color: hsl(0, 0%, 90%);
}

#search-bar {
  width: min(100%, 600px);
  background-color: #e2e8f0;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 7px;
}

#search-bar:hover {
  border: 2px solid gray;
  transition: all 0.05s ease-in-out;
}

#search-bar:focus {
  border: 2px solid gray;
}

.profile-pic {
  border-radius: 100%;
  object-fit: fill;
  display: flex;
  flex-shrink: 0;
}

main {
  background-color: #e2e8f0;
  display: flex;
  padding: 30px 20px;
}

main > aside {
  flex: 1;
}

#post-section {
  flex: 2.7;
}

.header {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

aside > div {
  margin-bottom: 30px;
}

.aside-content-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #fff;
  box-shadow: 1px 2px 7px -2px gray;
  border-radius: 7px;
  padding: 15px 25px 10px 25px;
}

.aside-content-1 > div {
  padding: 15px 7px;
  border-top: 1px solid lightgray;
  cursor: pointer;
}

.aside-content-1 > div:first-child {
  border-top: none;
}

.aside-content-1 > div > h2 {
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.aside-content-1 > div > p {
  font-size: 0.7rem;
  color: gray;
}

.aside-content-2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #fff;
  box-shadow: 1px 2px 7px -2px gray;
  border-radius: 7px;
  padding: 20px 25px 25px 25px;
}

.aside-content-2 > div {
  display: flex;
  align-items: center;
  padding: 10px 7px;
  cursor: pointer;
  border-radius: 15px;
}

.aside-content-2 > div > div {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.aside-content-2 > div > div > h3 {
  font-weight: 500;
  font-size: 0.8rem;
  margin-bottom: 2px;
}

.aside-content-2 > div > div > p {
  font-size: 0.8rem;
  color: gray;
}
